NODE_ENV=development
PORT=3000

# App
CORS_ORIGIN=http://localhost:5173

# Database
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=rtchat
POSTGRES_PASSWORD=rtchat_password
POSTGRES_DB=rtchat

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# JWT
JWT_ACCESS_SECRET=replace_me_access
JWT_REFRESH_SECRET=replace_me_refresh
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Sentry
SENTRY_DSN=
